body{
  background-image: url('https://cdn.hipwallpaper.com/i/62/23/Jq186Z.gif');
  text-align: center;
  font-size: 20px;
}
h1{
  font-family: 'Sacramento', cursive;
  font-family: 'El Messiri', sans-serif
}
p{
  padding-left: 200px;
  justify-content: centre;
  display: flex;
  text-align: center;
}
